@charset "UTF-8";
* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    color: #333;
}

.search {
    width: 60%;
}

.search-icon {
    display: none;
    padding: 4px 12px;
}

.cart-icon {
    display: none;
    padding: 4px 12px;
}

/* ブレイクポイント */

@media only screen and (max-width:1230px) {
    .search {
        width: 50%;
    }
}

@media only screen and (max-width:991px) {
    .cart-icon {
        display: inline-block;
    }
}

@media only screen and (max-width:581px) {
    .search-icon {
        display: inline-block;
    }
    /* 検索エリア */
    .search {
        display: none;
    }
}

@media only screen and (min-width:582px) {
    #search {
        display: none!important;
    }