@charset "UTF-8";
* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    color: #333;
}

.search {
    width: 70%;
}

.search-icon {
    display: none;
    padding: 4px 12px;
}

.cart-icon {
    display: none;
    padding: 4px 12px;
}

#search {
    padding: 8px 0;
}

/* 横スクロールナビゲーション */

.nav-tabs-wrap {
    overflow-y: none;
    overflow-x: auto;
    white-space: nowrap;
}

.nav-tabs-wrap .nav {
    display: inline-block;
    width: 100%;
}

.nav-tabs-wrap .nav>li {
    display: inline-block;
    float: none;
}

.scroll{
    text-align: center;
}
.suisou {
    margin-right: 16px;
}
/* 横スクロールナビゲーション */

/* ブレイクポイント */

@media only screen and (max-width:1650px) {
    .search {
        width: 60%;
    }
}

@media only screen and (max-width:1290px) {
    .search {
        width: 50%;
    }
}

@media only screen and (max-width:991px) {
    .cart-icon {
        display: inline-block;
    }
}

@media only screen and (max-width:599px) {
    .search-icon {
        display: inline-block;
    }
    /* 検索エリア */
    .search {
        display: none;
    }
}

@media only screen and (min-width:600px) {
    #search {
        display: none!important;
    }